*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: white;
}

h1 {
  font-weight: 780;
}

.hero {
  position: relative;
  height: 100vh;
  align-items: flex-end;
  padding-bottom: 0;
}
.hero h2 {
  max-width: 100%;
  font-size: 1rem;
}
@media (min-width: 1001px) {
  .hero {
    align-items: initial;
    padding-bottom: 0;
  }
  .hero h2 {
    max-width: 590px;
  }
}

.wrapper {
  position: relative;
  min-height: 300vh;
  overflow-x: clip;
}

.container {
  position: relative;
  z-index: 2;
}

.spade {
  position: absolute;
  z-index: 2;
  --vw-factor: 70vw;
  --vh-factor: 80vh;
  --w: calc(min(var(--vw-factor), var(--vh-factor)) * 2);
  --h: calc(var(--w) * 1126 / 1271);
  width: var(--w);
  height: var(--h);
  overflow: hidden;
  top: -20vh;
  left: calc(100% - var(--w) / 2 - 5vw);
  /* Width modifiers (--vw-factor) */
}
.spade--vw-tight {
  --vw-factor: 90vw;
}
.spade--vw-narrow {
  --vw-factor: 60vw;
}
.spade--vw-wide {
  --vw-factor: 80vw;
}
.spade {
  /* Height modifiers (--vh-factor) */
}
.spade--vh-tight {
  --vh-factor: 60vh;
}
.spade--vh-narrow {
  --vh-factor: 70vh;
}
.spade--vh-wide {
  --vh-factor: 90vh;
}
@media (min-width: 481px) {
  .spade--vw-tight {
    --vw-factor: 50vw;
  }
}
@media (min-width: 769px) {
  .spade {
    top: -30vh;
  }
}
@media (min-width: 1001px) {
  .spade {
    top: unset;
    bottom: 5vh;
    left: calc(100% - var(--w) / 2);
  }
}
.spade__background {
  position: relative;
  width: 100%;
  height: 100%;
}
.spade__background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/img/home-background.png") center/auto no-repeat;
  pointer-events: none;
  background-attachment: fixed;
}
.spade__sphere {
  width: 85vmin;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  bottom: -18vmin;
  right: 57%;
  animation: spin 50s linear infinite;
  filter: drop-shadow(0 0 30px rgba(64, 175, 255, 0.5333333333)) drop-shadow(0 0 21px #9FEEF6) drop-shadow(0 0 19px #277ADF);
}
.spade__mask {
  position: absolute;
  inset: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  object-fit: contain;
  pointer-events: none;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
