*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: white;
}

h1 {
  font-weight: 780;
}

.hero {
  position: relative;
  height: 100vh;
}
@media (max-width: 1000px) {
  .hero {
    align-items: flex-end;
    padding-bottom: 64px;
  }
}

.wrapper {
  position: relative;
  min-height: 300vh;
  overflow-x: clip;
}

.container {
  position: relative;
  z-index: 2;
}

.spade {
  position: absolute;
  z-index: 0;
  --vw-factor: 70vw;
  --vh-factor: 80vh;
  --w: calc(min(var(--vw-factor), var(--vh-factor)) * 2);
  --h: calc(var(--w) * 1126 / 1271);
  width: var(--w);
  height: var(--h);
  /* playing with resizing of image, tight seems to be a good fit */
}
.spade--tight {
  --vw-factor: 50vw;
}
.spade--narrow {
  --vw-factor: 60vw;
}
.spade--wide {
  --vw-factor: 80vw;
}
.spade {
  bottom: 5vh;
  left: calc(100% - var(--w) / 2);
  z-index: 2;
  overflow: hidden;
}
.spade__background {
  position: relative;
  width: 100%;
  height: 100%;
}
.spade__background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/img/home-background.png") center/auto no-repeat;
  pointer-events: none;
  background-attachment: fixed;
}
.spade__sphere {
  width: 85vmin;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  bottom: -18vmin;
  right: 57%;
  animation: spin 50s linear infinite;
  filter: drop-shadow(0 0 30px rgba(64, 175, 255, 0.5333333333)) drop-shadow(0 0 21px #9FEEF6) drop-shadow(0 0 19px #277ADF);
}
.spade__mask {
  position: absolute;
  inset: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  object-fit: contain;
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 1000px) {
  .spade {
    bottom: unset;
    left: calc(100% - var(--w) / 2 - 5vw);
    top: -30vh;
  }
}
@media (max-width: 768px) {
  .spade {
    bottom: unset;
    top: -20vh;
  }
}
@media (max-width: 480px) {
  .spade {
    bottom: unset;
    top: -20vh;
  }
  .spade--tight {
    --vw-factor: 80vw;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
