*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: white;
}

h1 {
  font-weight: 780;
}

.hero {
  position: relative;
  height: 100vh;
  align-items: flex-end;
  padding-bottom: 0;

  h2 {
    max-width: 100%;
    font-size: 1rem;
  }

  @media (min-width: 1001px) {
    align-items: initial;
    padding-bottom: 0;

    h2 {
      max-width: 590px;
    }
  }
}

.wrapper {
  position: relative;
  min-height: 300vh;
  overflow-x: clip;
}

.container {
  position: relative;
  z-index: 2;
}

.spade {
  position: absolute;
  z-index: 2;
  --vw-factor: 70vw;
  --vh-factor: 80vh;
  --w: calc(min(var(--vw-factor), var(--vh-factor)) * 2);
  --h: calc(var(--w) * 1126 / 1271);
  width: var(--w);
  height: var(--h);
  overflow: hidden;
  top: -20vh;
  left: calc(100% - var(--w) / 2 - 5vw);

  /* playing with resizing of image, tight seems to be a good fit */
  &--tight    { --vw-factor: 90vw; }
  &--narrow   { --vw-factor: 60vw; }
  &--wide     { --vw-factor: 80vw; }

  @media (min-width: 481px) {
    &--tight { --vw-factor: 50vw; }
  }

  @media (min-width: 769px) {
    top: -30vh;
  }

  @media (min-width: 1001px) {
    top: unset;
    bottom: 5vh;
    left: calc(100% - var(--w) / 2);
  }

  &__background {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url('../assets/img/home-background.png') center / auto no-repeat;
      pointer-events: none;
      background-attachment: fixed;
    }
  }

  &__sphere {
    width: 85vmin;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    bottom: -18vmin;
    right: 57%;
    animation: spin 50s linear infinite;
    filter: drop-shadow(0 0 30px #40afff88) drop-shadow(0 0 21px #9FEEF6) drop-shadow(0 0 19px #277ADF);
  }

  &__mask {
    position: absolute;
    inset: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
