
@media screen and (min-width:1200px) {
	:root {
		--font-family-title: "Plus Jakarta Sans";
		--font-family-body: "Plus Jakarta Sans";
		--font-weight-regular: Regular;
		--font-weight-medium: Medium;
		--font-weight-bold: Bold;
		--font-weight-extra-bold: ExtraBold;
		--font-size-3xs: 10px;
		--font-size-2xs: 12px;
		--font-size-xs: 14px;
		--font-size-sm: 16px;
		--font-size-md: 18px;
		--font-size-lg: 20px;
		--font-size-xl: 24px;
		--font-size-2xl: 24px;
		--font-size-3xl: 36px;
		--font-size-4xl: 48px;
		--font-size-5xl: 60px;
		--font-line-height-2xs: 16px;
		--font-line-height-xs: 20px;
		--font-line-height-sm: 24px;
		--font-line-height-md: 28px;
		--font-line-height-lg: 28px;
		--font-line-height-xl: 32px;
		--font-line-height-2xl: 24px;
		--font-line-height-3xl: 44px;
		--media-size: 1280px;
		--font-line-height-4xl: 56px;
		--font-line-height-5xl: 64px;
		--border-subtle: var(--color-off-white-400);
		--border-distinct: var(--color-off-white-700);
		--units-radius-none: 0px;
		--units-border-sm: 1px;
		--units-size-xs: 8px;
		--units-border-md: 2px;
		--units-size-s: 16px;
		--units-border-lg: 4px;
		--units-size-m: 24px;
		--units-size-l: 32px;
		--units-size-xl: 40px;
		--units-size-xxl: 64px;
		--units-size-full: 100%;
		--units-radius-sm: 4px;
		--units-radius-md: 8px;
		--units-radius-lg: 16px;
		--units-radius-xl: 24px;
		--units-radius-pill: 9999px;
		--units-radius-circle: 50%;
		--units-spacing-0: 0px;
		--units-spacing-2xs: 4px;
		--units-spacing-x2: 8px;
		--units-spacing-sm: 12px;
		--units-spacing-md: 16px;
		--units-spacing-lg: 24px;
		--units-spacing-xl: 32px;
		--units-spacing-2xl: 48px;
		--units-spacing-3xl: 64px;
		--units-spacing-4xl: 128px;
		--media-size: 1440px;
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	:root {
		--font-family-title: "Plus Jakarta Sans";
		--font-family-body: "Plus Jakarta Sans";
		--font-weight-regular: Regular;
		--font-weight-medium: Medium;
		--font-weight-bold: Bold;
		--font-weight-extra-bold: ExtraBold;
		--font-size-3xs: 10px;
		--font-size-2xs: 10px;
		--font-size-xs: 12px;
		--font-size-sm: 14px;
		--font-size-md: 16px;
		--font-size-lg: 18px;
		--font-size-xl: 20px;
		--font-size-2xl: 24px;
		--font-size-3xl: 32px;
		--font-size-4xl: 40px;
		--font-size-5xl: 48px;
		--font-line-height-2xs: 14px;
		--font-line-height-xs: 14px;
		--font-line-height-sm: 20px;
		--font-line-height-md: 24px;
		--font-line-height-lg: 26px;
		--font-line-height-xl: 28px;
		--font-line-height-2xl: 24px;
		--font-line-height-3xl: 40px;
		--media-size: 768px;
		--font-line-height-4xl: 48px;
		--font-line-height-5xl: 56px;
		--border-subtle: #ffffffff;
		--border-distinct: #ffffffff;
		--units-radius-none: 0px;
		--units-border-sm: 1px;
		--units-size-xs: 8px;
		--units-border-md: 2px;
		--units-size-s: 16px;
		--units-border-lg: 4px;
		--units-size-m: 24px;
		--units-size-l: 32px;
		--units-size-xl: 40px;
		--units-size-xxl: 64px;
		--units-size-full: 100%;
		--units-radius-sm: 4px;
		--units-radius-md: 8px;
		--units-radius-lg: 16px;
		--units-radius-xl: 24px;
		--units-radius-pill: 9999px;
		--units-radius-circle: 50%;
		--units-spacing-0: 0px;
		--units-spacing-2xs: 4px;
		--units-spacing-x2: 8px;
		--units-spacing-sm: 8px;
		--units-spacing-md: 12px;
		--units-spacing-lg: 16px;
		--units-spacing-xl: 24px;
		--units-spacing-2xl: 32px;
		--units-spacing-3xl: 48px;
		--units-spacing-4xl: 48px;
		--media-size: 768px;
	}
}

@media screen and (max-width:768px) {
	:root {
		--font-family-title: "Plus Jakarta Sans";
		--font-family-body: "Plus Jakarta Sans";
		--font-weight-regular: Regular;
		--font-weight-medium: Medium;
		--font-weight-bold: Bold;
		--font-weight-extra-bold: Bold;
		--font-size-3xs: 10px;
		--font-size-2xs: 10px;
		--font-size-xs: 12px;
		--font-size-sm: 14px;
		--font-size-md: 16px;
		--font-size-lg: 16px;
		--font-size-xl: 20px;
		--font-size-2xl: 24px;
		--font-size-3xl: 32px;
		--font-size-4xl: 40px;
		--font-size-5xl: 28px;
		--font-line-height-2xs: 14px;
		--font-line-height-xs: 14px;
		--font-line-height-sm: 20px;
		--font-line-height-md: 24px;
		--font-line-height-lg: 26px;
		--font-line-height-xl: 28px;
		--font-line-height-2xl: 24px;
		--font-line-height-3xl: 40px;
		--media-size: 375px;
		--font-line-height-4xl: 48px;
		--font-line-height-5xl: 32px;
		--border-subtle: #ffffffff;
		--border-distinct: #ffffffff;
		--units-radius-none: 0px;
		--units-border-sm: 1px;
		--units-size-xs: 8px;
		--units-border-md: 2px;
		--units-size-s: 16px;
		--units-border-lg: 4px;
		--units-size-m: 24px;
		--units-size-l: 32px;
		--units-size-xl: 40px;
		--units-size-xxl: 64px;
		--units-size-full: 100%;
		--units-radius-sm: 4px;
		--units-radius-md: 8px;
		--units-radius-lg: 16px;
		--units-radius-xl: 24px;
		--units-radius-pill: 9999px;
		--units-radius-circle: 50%;
		--units-spacing-0: 0px;
		--units-spacing-2xs: 4px;
		--units-spacing-x2: 8px;
		--units-spacing-sm: 8px;
		--units-spacing-md: 12px;
		--units-spacing-lg: 16px;
		--units-spacing-xl: 24px;
		--units-spacing-2xl: 32px;
		--units-spacing-3xl: 48px;
		--units-spacing-4xl: 48px;
		--media-size: 375px;
	}
}

/*colors*/
/* Base colors Variables */ 
:root { 
  --text-strong: var(--color-gray-900);
  --text-secondary: var(--color-gray-600);
  --text-tertiary: var(--color-gray-400);
  --text-disabled: var(--color-gray-300);
  --text-placeholder: var(--color-gray-400);
  --text-link: var(--brand-primary);
  --text-success: var(--brand-accent);
  --text-error: var(--color-red-500);
  --text-inverted-strong: var(--color-off-white-50);
  --text-inverted-secondary: var(--color-off-white-600);
  --text-inverted-tertiary: var(--color-off-white-900);
  --text-icon: var(--text-strong);
  --text-icon-secondary: var(--text-secondary);
  --surface-background: var(--color-gray-white);
  --surface-layer-1: var(--color-gray-50);
  --surface-black: var(--color-gray-800);
  --surface-blue: var(--color-blue-500);
  --surface-dark-blue: var(--color-blue-dark-500);
  --border-subtle: var(--color-off-white-400);
  --border-very-subtle: var(--color-off-white-300);
  --border-distinct: var(--color-off-white-700);
  --brand-primary: var(--color-blue-500);
  --brand-secondary: #012169;
  --brand-tertiary: var(--color-blue-light-400);
  --brand-accent: var(--brand-primary);
  --color-accent: var(--brand-primary);
  --color-accent-rgb: 0 22 235;
  --color-white-transparent-09: #ffffffe5;
  --color-yellow-100: #fffbebff;
  --color-yellow-200: #fef3c7ff;
  --color-yellow-300: #fde68aff;
  --color-yellow-400: #fcd34dff;
  --color-yellow-500: #f7db17ff;
  --color-yellow-600: #d4b613ff;
  --color-yellow-700: #b08f0fff;
  --color-yellow-800: #8c6d0cff;
  --color-yellow-900: #6b5009ff;
  --color-white-transparent-08: #ffffffcc;
  --color-white-transparent-07: #ffffffb2;
  --color-white-transparent-06: #ffffff99;
  --color-white-transparent-05: #ffffff80;
  --color-white-transparent-04: #ffffff66;
  --color-white-transparent-03: #ffffff4d;
  --color-white-transparent-02: #ffffff33;
  --color-white-transparent-01: #ffffff1a;
  --color-gray-white: #ffffffff;
  --color-gray-50: #fafafaff;
  --color-gray-100: #f5f5f5ff;
  --color-gray-200: #e5e5e5ff;
  --color-gray-300: #d4d4d4ff;
  --color-gray-400: #a3a3a3ff;
  --color-gray-500: #737373ff;
  --color-gray-600: #525252ff;
  --color-gray-700: #404040ff;
  --color-gray-800: #262626ff;
  --color-gray-900: #0f0f0fff;
  --color-gray-black: #000000ff;
  --color-off-white-50: #fafbfcff;
  --color-off-white-100: #f5f7f9ff;
  --color-off-white-200: #eff3f6ff;
  --color-off-white-300: #e8eef3ff;
  --color-off-white-400: #e0e8efff;
  --color-off-white-500: #d8e2ebff;
  --color-off-white-600: #cfd9e5ff;
  --color-off-white-700: #c5d0dfff;
  --color-off-white-800: #b8c5d8ff;
  --color-off-white-900: #a8b7ccff;
  --color-red-100: #fdcfcaff;
  --color-red-200: #fc9798ff;
  --color-red-300: #f66273ff;
  --color-red-400: #ee3b61ff;
  --color-red-500: #e40046ff;
  --color-red-600: #c4004fff;
  --color-red-700: #84004fff;
  --color-red-800: #6d004cff;
  --color-green-100: #f0fde9ff;
  --color-green-200: #d9fbc8ff;
  --color-green-300: #b0f599ff;
  --color-green-400: #85ee68ff;
  --color-green-500: #5fe83dff;
  --color-green-600: #4bd428ff;
  --color-green-700: #3ab01fff;
  --color-green-800: #2d8818ff;
  --color-green-900: #1f5d10ff;
  --color-blue-100: #c8e2faff;
  --color-blue-200: #93c3f5ff;
  --color-blue-300: #5b98e3ff;
  --color-blue-400: #326fc8ff;
  --color-blue-500: #0016EB;
  --color-blue-600: #002f8dff;
  --color-blue-700: #002276ff;
  --color-blue-800: #00114eff;
  --color-blue-light-100: #f3fcfeff;
  --color-blue-light-200: #e7f9fdff;
  --color-blue-light-300: #d9f1f9ff;
  --color-blue-light-400: #b9d9ebff;
  --color-blue-light-500: #87adcaff;
  --color-blue-light-600: #5d84a9ff;
  --color-blue-light-700: #3b5e88ff;
  --color-blue-light-800: #234170ff;
  --color-blue-dark-100: #c6dbf7ff;
  --color-blue-dark-200: #90b7f0ff;
  --color-blue-dark-300: #5583d2ff;
  --color-blue-dark-400: #2a54a4ff;
  --color-blue-dark-500: #012169ff;
  --color-blue-dark-600: #00124bff;
  --color-blue-dark-700: #000d3cff;
  --color-blue-dark-800: #000932ff;
  --color-off-white-warm-50: #fdfcfbff;
  --color-off-white-warm-100: #faf8f5ff;
  --color-off-white-warm-200: #f6f3eeff;
  --color-off-white-warm-300: #f1ede6ff;
  --color-off-white-warm-400: #ebe6ddff;
  --color-off-white-warm-500: #e5dfd4ff;
  --color-off-white-warm-600: #ded7caff;
  --color-off-white-warm-700: #d6cec0ff;
  --color-off-white-warm-800: #ccc4b5ff;
  --color-off-white-warm-900: #c1b8a8ff;
  --status-warning: var(--color-yellow-500);
  --status-error: var(--color-red-500);
  --accent: var(--brand-primary);
}

/* Components Variables */ 
:root { 
  --button-primary-bg: var(--brand-accent);
  --button-primary-brand-bg: var(--brand-primary);
  --button-primary-brand-label: var(--text-inverted-strong);
  --button-primary-brand-raduis: var(--units-radius-pill);
  --button-secondary-bg: var(--color-off-white-300);
  --button-secondary-label: var(--color-gray-900);
  --button-secondary-radius: var(--units-radius-pill);
  --button-primary-label: var(--color-gray-900);
  --button-primary-radius: var(--units-radius-pill);
  --button-tertiary-bg: #ffffff00;
  --button-tertiary-label: var(--text-strong);
  --button-tertiary-border: var(--text-strong);
  --button-tertiary-radius: var(--units-radius-pill);
  --button-text-bg: var(--button-tertiary-bg);
  --button-text-label: var(--text-strong);
  --input-border-radius: var(--units-radius-sm);
  --input-border: var(--border-distinct);
  --input-bg: var(--color-gray-white);
  --input-text: var(--text-strong);
  --input-placeholder: var(--text-placeholder);
  --input-label: var(--text-strong);
  --input-hint: var(--text-secondary);
  --input-error: var(--text-error);
  --input-icon: var(--text-icon-secondary);
  --input-border-error: var(--input-error);
  --input-checkbox-selected-bg: var(--surface-blue);
  --breadcrumbs-previous: var(--prototyping-text-light);
  --breadcrumbs-current: var(--prototyping-text);
  --card-transparent-title: var(--brand-primary);
  --card-transparent-text: var(--text-strong);
  --card-container-background: var(--surface-background);
  --card-container-border: var(--border-very-subtle);
  --button-icon-bg: var(--button-tertiary-bg);
  --button-icon-label: var(--text-strong);
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts-25/icomoon.eot?8habd7');
  src:  url('../fonts-25/icomoon.eot?8habd7#iefix') format('embedded-opentype'),
    url('../fonts-25/icomoon.ttf?8habd7') format('truetype'),
    url('../fonts-25/icomoon.woff?8habd7') format('woff'),
    url('../fonts-25/icomoon.svg?8habd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-intelligence:before {
  content: "\e951";
}
.icon-data:before {
  content: "\e952";
}
.icon-file-text:before {
  content: "\e94d";
}
.icon-mic-thin:before {
  content: "\e94e";
}
.icon-newspaper:before {
  content: "\e94f";
}
.icon-presentation:before {
  content: "\e950";
}
.icon-football:before {
  content: "\e900";
}
.icon-cherry:before {
  content: "\e94c";
}
.icon-repeat-round:before {
  content: "\e94b";
}
.icon-social-facebook:before {
  content: "\e946";
}
.icon-social-linkedin:before {
  content: "\e947";
}
.icon-social-youtube:before {
  content: "\e948";
}
.icon-social-instagram:before {
  content: "\e949";
}
.icon-social-x:before {
  content: "\e94a";
}

.icon-bell-dot:before {
  content: "\e905";
}
.icon-blocks:before {
  content: "\e906";
}
.icon-chart-large:before {
  content: "\e907";
}
.icon-chart-no-axes-combined:before {
  content: "\e908";
}
.icon-deposit:before {
  content: "\e909";
}
.icon-dices:before {
  content: "\e90a";
}
.icon-dollar-large:before {
  content: "\e90b";
}
.icon-expand:before {
  content: "\e90c";
}
.icon-gift:before {
  content: "\e90d";
}
.icon-globe-large:before {
  content: "\e90e";
}
.icon-hand-coins:before {
  content: "\e90f";
}
.icon-joystick:before {
  content: "\e910";
}
.icon-key-round:before {
  content: "\e911";
}
.icon-layout-dashboard:before {
  content: "\e912";
}
.icon-log-in:before {
  content: "\e913";
}
.icon-monitor:before {
  content: "\e914";
}
.icon-monitor-cog:before {
  content: "\e915";
}
.icon-network:before {
  content: "\e916";
}
.icon-plug-in:before {
  content: "\e917";
}
.icon-plug-large:before {
  content: "\e918";
}
.icon-repeat:before {
  content: "\e919";
}
.icon-rocker-large:before {
  content: "\e91a";
}
.icon-shield-large:before {
  content: "\e91b";
}
.icon-sliders-horizontal:before {
  content: "\e91c";
}
.icon-sparkles:before {
  content: "\e91d";
}
.icon-square-stack:before {
  content: "\e91e";
}
.icon-sworder-large:before {
  content: "\e91f";
}
.icon-target:before {
  content: "\e920";
}
.icon-timer:before {
  content: "\e921";
}
.icon-timer-reset:before {
  content: "\e922";
}
.icon-trophy:before {
  content: "\e923";
}
.icon-user-plus:before {
  content: "\e924";
}
.icon-zap-large:before {
  content: "\e925";
}
.icon-arrow-right:before {
  content: "\e926";
}
.icon-at:before {
  content: "\e927";
}
.icon-check-circle:before {
  content: "\e928";
}
.icon-chevron-left:before {
  content: "\e929";
}
.icon-chevron-right:before {
  content: "\e92a";
}
.icon-circle-plus:before {
  content: "\e92b";
}
.icon-close1:before {
  content: "\e92c";
}
.icon-globe:before {
  content: "\e92d";
}
.icon-info:before {
  content: "\e92e";
}
.icon-list:before {
  content: "\e92f";
}
.icon-menu:before {
  content: "\e930";
}
.icon-mic:before {
  content: "\e931";
}
.icon-minus:before {
  content: "\e932";
}
.icon-play-circle:before {
  content: "\e933";
}
.icon-play-outline:before {
  content: "\e934";
}
.icon-play-solid:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-star-solid:before {
  content: "\e937";
}
.icon-start-ouline:before {
  content: "\e938";
}
.icon-user-shield:before {
  content: "\e939";
}
.icon-arrow-down:before {
  content: "\e93a";
}
.icon-calendar:before {
  content: "\e93b";
}
.icon-dowload:before {
  content: "\e93c";
}
.icon-image:before {
  content: "\e93d";
}
.icon-key:before {
  content: "\e93e";
}
.icon-search1:before {
  content: "\e93f";
}
.icon-sliders:before {
  content: "\e940";
}
.icon-users:before {
  content: "\e941";
}
.icon-checkmark:before {
  content: "\e942";
}
.icon-chevron-up:before {
  content: "\e943";
}
.icon-chevron-down:before {
  content: "\e944";
}
.icon-spade:before {
  content: "\e945";
}
.icon-go-to:before {
  content: "\e903";
}
.icon-angle-down:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e902";
}
.icon-lang:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
a[class*="icon-"] {
  text-decoration: none;
}
