.c-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--units-spacing-lg);
  padding: var(--units-spacing-lg);
}

.c-card--centered {
  text-align: center;
  align-items: center;
}

.c-card__heading {
  font-size: var(--font-size-md);
  font-weight: 800;
  color: var(--text-primary);
  text-transform: lowercase;
}

.c-card__text {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
}
