.studio-page--im-theme {
  --body-bg: #160727;
  --blob-bg: #211D8666;
  --card-contained-bg: #240637;
  --card-contained-border: transparent;
}

.studio-page--im-theme .c-accordion {
  --accordion-border-color: #8624A7;
  --accordion-title-color: var(--text-inverted-strong);
  --accordion-description-color: #CFD9E5;
  --accordion-icon-color: #8624A7;
}

.studio-page--im-theme {
  .studio-page__layer {
    &--layer-1 {
      z-index: 0;
      background-image: url('../../im/img/clouds-layer-0.png');
      background-position: top center;
      background-size: contain;
    }

    &--layer-2 {
      z-index: 1;
      background-image: url('../../im/img/house-tree.png');
      display: flex;
      align-items: flex-end;
    }

    &--layer-3 {
      z-index: 2;
      background-image: url('../../im/img/tree-layer-2.png');
      display: flex;
      align-items: flex-end;
    }
  }
}